<table>
    <thead>
        <td>Name</td>
        <td>Price</td>
        <td>Amount</td>
        <!-- <td>Total</td> -->
        <td>Options</td>
    </thead>
    <tbody>
        <tr *ngFor='let cartItem of cartItems;index as i'>
            <td>{{cartItem.name}}</td>
            <td>{{cartItem.price}}</td>
            <td><input type="number" class="form-control" placeholder="Amount (Kg) #amount" [(ngModel)]="cartItem.amount" />
            </td>
            <!-- <td>{{( (cartItem.price||0) * (cartItem.price||0) )|currency}}</td> -->
            <td>
                <button class="btn btn-primary" (click)='save(i)'>Save</button>
                <button class="btn btn-danger" (click)='delete(i)'>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success" (click)='order()'>Order</button>
